@{
    ViewData["Title"] = "Lexicon LMS";
}
<div class="text-center"    title="Lexicon Learning Mangagement System">
    <br />
    <h1>
        <img class="splashLexiconBg" src="~/img/lexicon.png" />
    </h1>
    <br />

    <h1 class="display-4">Välkommen</h1>
    <h1 class="display-4">Till</h1>
    <h1 class="display-4" title="Lexicon Learning Mangagement System">Lexicon LMS</h1>
</div>
