@{
    ViewData["Title"] = "Lexicon LMS";
}

<div class="text-center">
    <br />
    <br />
    <img src="~/img/lexicon.png" />
    <h1 class="display-4">Välkommen</h1>
    <h1 class="display-4">Till</h1>
    <h1 class="display-4">Lexicon LMS</h1>
</div>


